::root {
  --primary-color: ;
  --secondary-color: ;
  
  --primary-text-color:#000000 ;
  --secondary-text-color: ;

  --primary-bg-color: ;
  --secondary-bg-color: ;

  --primary-border-color: ;
  --secondary-border-color: ;

  --primary-shadow-color: ;
  --secondary-shadow-color: ;

  --primary-hover-color: ;
  --secondary-hover-color: ;

  --primary-hover-text-color: ;
  --secondary-hover-text-color: ;

  --primary-button-color: ;
  --secondary-button-color: ;
}

body {
  font-family: 'Jost', sans-serif;
}


footer {

  & .menu-port {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);

    & div {

      & a {
        text-decoration: none;
        padding: 15px;
        color: var(--primary-text-color);
      }
    }
  }

  & .line {
    border-bottom: 1px solid gray;
    margin: 0 50px;
  }

  & .copyright {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
  }
}